@import "../source/stylesheets/base/typography"

*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  background: white url('eurucamp.svg') no-repeat 10vw 50%/30vw fixed
  color: #777777
  font-family: 'sonar', sans-serif

a
  color: #961e15
  text-decoration: none

  &:hover
    color: #c82820

.intro
  display: flex
  flex-direction: column
  min-height: 50vh
  margin: 0 0 0 auto
  padding: 5vw 5vw 0 0
  width: 50vw

  h3
    font-size: 2rem

  p
    margin: 1em 0

  h2
    font-size: 1rem

  ul
    display: -webkit-flex
    display: flex
    margin-top: 1em

  li
    background: #eeeeee
    -webkit-flex: 1
    flex: 1
    list-style: none
    font-size: 0.8rem
    margin-right: 5vw
    padding: 1vw
    text-align: center

  h3
    font-size: 3rem

.builds
  min-height: 50vh
  margin: 0 0 0 auto
  padding: 5vw 5vw 5vw 0
  width: 50vw

  dt
    margin-top: 1em
