.concept-page
  @extend %page
  background: $fuchsia
  color: $white


.concept-page--container
  @extend %page--container


.concept-page--title
  @extend %page--title


.concept-page--section
  @extend %page--section


.concept-page--section-title
  @extend %page--section-title
  color: $white

  &:before
    background: $light-green


.concept-page--section-paragraph
  @extend %page--section-paragraph


.concept-page--formula,
.concept-page--formula-text
  @extend %page--section-paragraph
  color: $light-green
  font-size: 1.5rem
  font-weight: bold
  text-align: center

