.concept-page
  @extend %page
  background: $fuchsia
  color: $white


.concept-page--container
  @extend %page--container


.concept-page--title
  @extend %page--title


.concepts-page--section
  @extend %page--section


.concepts-page--section-title
  @extend %page--section-title
  color: $white

  &:before
    background: $light-green


.concepts-page--section-paragraph
  @extend %page--section-paragraph
