.cover
  background: $light-green image-url("grass.jpg") no-repeat center
  background-size: cover
  display: block


.cover--container
  background: inline-svg("eurucamp-2014.svg") no-repeat center
  display: block
  height: 450px
  position: relative


.cover--date,
.cover--location
  color: #FFB2D2
  font-weight: bold
  left: 50%
  margin-left: -200px
  position: absolute
  text-align: center
  text-transform: uppercase
  top: 178px
  width: 400px

.cover--location
  top: 244px

