.guide
  background: $light-green
  display: block


.guide--container
  @extend %container


.guide--title
  @extend %headline
  color: $dark-red
  opacity: 0.8


.guide--photo-container
  display: block
  height: 0
  overflow: hidden
  padding: 25% 0
  position: relative


.guide--photo
  width: 100%
  @include transform(translateY(-50%))
  -webkit-clip-path: polygon(0% 0%,0% 100%,65% 100%,100% 65%, 100% 0%)

.guide--show-more
  @extend %show-more

.guide--show-more-image
  @extend %show-more
  background: none
  &:hover
    background: none
