.guide
  background: $light-green
  display: block


.guide--container
  @extend %container


.guide--title
  @extend %headline
  color: $dark-red
  opacity: 0.8

.guide--main-title
  @extend %headline
  font-size: 6rem
  color: $dark-red
  opacity: 0.7
  text-align: left
  @include transform-origin(50px, 100px)
  @include transform(rotate(-45deg))

.guide--photo-container
  display: block
  height: 0
  overflow: hidden
  padding: 25% 0
  position: relative

.guide--photo
  width: 100%
  @include transform(translateY(-50%))
  -webkit-clip-path: polygon(0% 0%,0% 100%,65% 100%,100% 65%, 100% 0%)

.guide--show-more
  @extend %show-more

.guide--show-more-image
  @extend %show-more
  background: none
  &:hover
    background: none

#guide
  section
    h2
      text-align: right
      height: 250px
      width: 250px
      background-image: inline-svg("h2guide.svg")
      background-repeat: no
      color: $white
      text-transform: uppercase
      margin: 0 0 0 auto
      padding-top: 106px
      padding-right: 15px
      font-size: 24px
