.schedule
  background: $fuchsia
  display: block

.schedule--container
  @extend %container

.schedule--title
  @extend %headline
  color: $dark-red
  opacity: 0.8

// temporary styles added by jojo
#schedule
  font-size: 24px
  h2
    display: block
    color: $light-green
    margin-top: 100px
  table
    display: table
    width: 100%
  thead
    display: table-header-group
  tbody
    display: table-row-group
  tr
    display: table-row
  th, td
    display: table-cell
    text-align: center
    padding: 10px
    border: 10px solid $fuchsia
  td
    background: $white
  .title
    margin-top: 6%
    a
      color: $fuchsia
      padding: 4px
    a:hover
      background: $fuchsia
      color: $white
      text-decoration: none
  .speaker
    text-transform: uppercase
    font-size: 18px

  th
    font-weight: bold
    color: $white
  .time
    width: 10%
    text-align: right
    background: none
    color: $white
    font-size: 24px
  .single
    width: 45%
  .double
    width: 90%
  span.title
    display: block
  .break
    background: $fuchsia
  @media all and (max-width: 600px)
    p
      font-size: 20px
    .time
      font-size: 20px


.schedule--main-title
  @extend %page--title
  color: $dark-red
  margin: 100px
  @include transform-origin(-50px, 200px)
