.schedule
  background: $fuchsia
  display: block

.schedule--container
  @extend %container

.schedule--title
  @extend %headline
  color: $dark-red
  opacity: 0.8

// temporary styles added by jojo
#schedule
  $slot-sizes: 15 30 45

  font-size: 20px
  h2
    display: block
    color: $light-green
    margin-top: 100px
  table
    display: table
    width: 100%
    border-collapse: separate
    border-spacing:  5px

  thead
    display: table-header-group
  tbody
    display: table-row-group
  tr
    display: table-row

  th, td
    display: table-cell
    text-align: center

    @each $slot-size in $slot-sizes
      &.-s-#{$slot-size}m
        height: #{($slot-size * 4)}px
    &.-s-270m
      height: 240px

  td
    background: $white

  .title
    margin-top: 20px
    a
      color: $fuchsia
      padding: 4px
    a:hover
      background: $fuchsia
      color: $white
      text-decoration: none
  .speaker
    text-transform: uppercase
    font-size: 18px

  th
    font-weight: bold
    color: $white
  .time
    width: 10%
    text-align: right
    vertical-align: top
    background: none
    color: $white
    font-size: 24px
    border-top: 1px solid $white

  .single
    width: 45%
  .double
    width: 90%

  span.title
    display: block
  .break,
  .lunch
    background: $fuchsia
    color: $white
  @media all and (max-width: 600px)
    p
      font-size: 20px
    .time
      font-size: 20px


.schedule--main-title
  @extend %page--title
  color: $dark-red
  margin: 100px
  @include transform-origin(-50px, 200px)
