.schedule
  background: $fuchsia
  display: block

.schedule--container
  @extend %container

.schedule--title
  @extend %headline
  color: $dark-red
  opacity: 0.8

.schedule--main-title
  @extend %page--title
  color: $dark-red
  margin: 100px
  @include transform-origin(-50px, 200px)
  pointer-events: none
