.speakers-page
  @extend %page
  background: $white
  color: $dark-gray


.speakers-page--container
  @extend %page--container


.speakers-page--title
  @extend %page--title
  margin: -70px
  //@include transform-origin(50px, -50px)


.speakers-page--list
  @include grid(8, 6, 6)
  margin-left: 10%
  margin-top: 50px
