.sponsors
  background: $white
  display: block


.sponsors--container
  @extend %container
  padding-bottom: 0px
  margin-bottom: 0px


.sponsors--title
  @extend %headline

  &:before
    content: inline-svg("sponsors--icon.svg")
    display: block
    margin: auto
    width: 20px


.sponsors--section-title
  @extend %pie-clearfix
  font-size: 1.5rem
  text-transform: uppercase
  @include grid(12, 8, 6)
  text-align: center
  font-weight: bold
  color: $red

.sponsors--list
  display: block
  margin-top: 100px
  @media all and (max-width: 800px)
    margin-top: 100px

.sponsors--list-item-label
  display: block
  background: $red
  color: $white
  margin: -1% 33% 0 33%
  text-align: right
  padding-right: 1%
  padding-top: 3px
  margin-top: 3px
  font-weight: bold
  text-transform: uppercase


.sponsors--list-item
  @include grid(4, 4, 6)
  margin-top: 0px
  margin-bottom: 0px
  height: 200px
  max-width: 350px


.sponsors--list-item-image
  padding: 0 20px 0 20px
  display: inline-block
  width: 100%

.sponsors--buttons
  @extend %pie-clearfix


.sponsors--show-more
  @extend %show-more
  background: $dark-red
  &:hover
    background: $red

.sponsors.-home
  padding-bottom: 50px

.sponsors-page--title
  @extend %page--title
  font-size: 6rem
  margin: 100px
  @include transform-origin(100px, 250px)
  @media all and (max-width: 600px)
    font-size: 4rem
    @include transform-origin(150px, 150px)
    margin: 0

.sponsors-page--companies
  .sponsors--section
    @extend %page--section

  .sponsors--section-title
    @extend %page--section-title
    color: $white
    margin-top: 200px
    margin-left: 200px
    margin-bottom: -200px
    &:before
      background: $white
    @media all and (max-width: 800px)
      color: $black
      margin-top: 100px
      margin-left: 0px
      text-align: left
      margin-bottom: -50px
  .sponsors--list
    @extend %pie-clearfix

  .sponsors--section.-lake
    .sponsors--section-title:before
      background-image: inline-svg("lake.svg")
      background-repeat: no
    .sponsors--section-title
      @media all and (max-width: 800px)
        margin-top: 300px
        margin-bottom: 10px
      @media all and (max-width: 600px)
        margin-top: 150px

    .sponsors--list-item
      @include grid(12, 8, 6)
      height: 100%
      max-width: 100%
      margin-top: 100px
      margin-bottom: 0
      img
        max-height: 100%
        padding: 0 10% 0 10%
      @media all and (max-width: 800px)
        margin-top: 100px
        margin-bottom: 0
    .sponsors--list-item-name
      @include grid(7, 4, 6)
    .sponsors--section-item-text
      @include grid(5, 4, 6)
      @media all and (max-width: 600px)
        padding: 30px 10% 30px 10%
        font-size: 18px

  .sponsors--section.-meadow
    margin-top: 0px
    margin-bottom: 100px
    .sponsors--section-title:before
      background-image: inline-svg("meadow.svg")
      background-repeat: no
    .sponsors--section-title
      @media all and (max-width: 800px)
        margin-bottom: 10px
    .sponsors--list
      @include grid(12, 8, 6)
    .sponsors--list-item
      @include grid(4, 4, 6)
      height: 100%
      max-width: 100%
      margin-top: 50px
      margin-bottom: 50px
      img
        max-height: 100%
        padding: 0 10% 0 10%
      @media all and (max-width: 800px)
        margin-top: 50px
        margin-bottom: 0
    .sponsors--list-item-name
      //@include grid(12, 8, 6)
    .sponsors--section-item-text
      display: none

.sponsors--section-item-text
  font-size: 17px
  a
    color: $red


.sponsors-page--info
  .sponsors--section
    @extend %page--section
  .sponsors--section-title
    @extend %page--section-title
    color: $white
    margin-top: 200px
    margin-left: 200px
    margin-bottom: -200px
    &:before
      background: $fuchsia
    @media all and (max-width: 800px)
      color: $black
      margin-top: 100px
      margin-left: 0px
      text-align: left
      margin-bottom: 50px
    @media all and (max-width: 600px)
      margin-bottom: -50px

.sponsors-page--info-text
  @extend %pie-clearfix
  @include grid(6, 4, 4)
  margin-left: 33%
  margin-top: 100px
  font-size: 1.5rem
  @media all and (max-width: 800px)
    margin-top: 150px
    margin-left: 10%

.sponsors-page--buttons
  @extend %pie-clearfix
  @include grid(6, 4, 6)
  margin-top: 50px
  text-align: center

.sponsors-page--show-more
  @extend %show-more
  background: $dark-red
  &:hover
    background: $red
