.sponsors
  background: $light-green
  display: block


.sponsors--container
  @extend %container
  padding-bottom: 0


.sponsors--title
  @extend %headline

  &:before
    content: inline-svg("sponsors--icon.svg")
    display: block
    margin: auto
    width: 20px


.sponsors--section-title
  @extend %pie-clearfix
  font-size: 1.5rem
  text-transform: uppercase
  @include grid(12, 8, 6)
  text-align: center
  font-weight: bold
  color: $red


.sponsors--list-item-label
  display: block
  background: $red
  color: $white
  margin: 0 33% 0 33%
  text-align: center
  font-weight: bold
  text-transform: uppercase


.sponsors--list-item
  @include grid(4, 4, 6)
  img
    width: 100%
    padding: 0 20px 0 20px


.sponsors--buttons
  @extend %pie-clearfix


.sponsors--show-more
  @extend %show-more

