.team-page
  @extend %page
  background: $black
  color: $light-gray


.team-page--container
  @extend %page--container


.team-page--title
  @extend %page--title


.team-page--members-item
  @include grid(4, 4, 4 1, 4)


.team-page--members-item-photo
  display: block
  overflow: hidden
  @include transform(rotate(45deg) scale(0.72))


.team-page--members-item-photo-image
  display: block
  width: 100%
  @include transform(rotate(-45deg) scale(1.5))
  @include filter(grayscale(100%))


.team-page--members-item-name
  background: $fuchsia
  color: $white
  display: block
  font-size: 1.5rem
  font-weight: bold
  height: 2rem
  line-height: 1.8rem
  margin: -20% auto 10%
  position: relative
  text-align: center
  text-transform: uppercase
  width: 80%

  &:before,
  &:after
    border: 1rem solid
    border-color: $fuchsia transparent
    content: ""
    float: left
    margin: 0 -1rem

  &:after
    float: right


.team-page--members-item-position
  display: block
  text-align: center

