%grain
  background-image: inline-image("grain.png")
  background-position: center

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    background-size: 100px


%show-more
  background: rgba($dark-gray, 0.3)
  color: $white
  cursor: pointer
  display: inline-block
  font-weight: bold
  left: 50%
  margin: 20px auto 0
  padding: 4px 10px 6px
  position: relative
  text-transform: uppercase
  @include transform(translateX(-50%))

  &:hover
    background: rgba($dark-gray, 0.4)


%page
  display: block
  min-height: 20rem
  padding-top: 5rem


%page--container
  @extend %container
  position: relative


%page--title
  font-size: 3rem
  font-weight: bold
  margin-left: -10%
  position: absolute
  text-transform: uppercase
  @include transform(rotate(-45deg))
  @media all and (max-width: 600px)
    position: static
    @include transform(rotate(0))


%page--section
  display: block


%page--section-title
  color: black
  display: block
  font-size: 1.5rem
  font-weight: bold
  line-height: 0
  margin: 15% auto -15%
  padding-bottom: 33.33333%
  position: relative
  text-align: center
  text-transform: uppercase
  z-index: 2
  width: 33.33333%

  &:before
    background: white
    bottom: 15%
    color: transparent
    content: ""
    left: 15%
    position: absolute
    right: 15%
    top: 15%
    z-index: -1
    @include transform(rotate(45deg) translateX(-50%) translateY(-50%))

  @media all and (max-width: 800px)
    margin: 1em 0
    padding: 0

    &:before
      display: none


%page--section-paragraph
  clear: both
  display: block
  margin: 1em 0

