<section class="livingstyleguide--example livingstyleguide--ruby-example" id="section-1a155b">
  <pre class="livingstyleguide--code-block"><code class="livingstyleguide--code">activate :styleguide_api<br>StyleGuideAPI.load "http://style-guide.eurucamp.org/<%= commit %>/style.json"</code></pre>
</section>
