.speakers
  .speakers--container
    %h1.speakers--title Meet our Speakers
    %ul.speaker-details-list
      - speakers.each_with_index do |speaker, index|
        %li.speaker-details-list--item
          = style_template "speaker-details", speaker: speaker, image_dir: image_dir, right: index.odd?
