.speakers
  .speakers--container
    %h3.speakers--title Meet our Speakers
    %ul.speaker-list
      %li.speaker-list--item
        = style_template "speaker-avatar", speaker: keynote, image_dir: image_dir, show_social: false
      - speakers.each do |speaker|
        %li.speaker-list--item
          = style_template "speaker-avatar", speaker: speaker, image_dir: image_dir, show_social: false
