%section.supporters
  .supporters--container
    %h1.supporters--title Supporting Companies
    %ul.supporters--list
      - supporting_companies.each do |company|
        %li.supporters--list-item
          - unless company.image == ""
            %img.supporters--image{src: "../images/content/sponsors/#{company.image}"}
          %span= company.company
